*{
    margin: 0px;
    padding: 0px;
}

.logo{
    width: 100px;
}

.navigation{
    display: flex;justify-content: space-around;
    padding: 20px;
    background-color: rgb(78, 74, 74);
    color: white;
    align-items: center;
}

.Home{
    display: flex;
    list-style: none;
    font-size: 18px;
}

.Home-menu{
    margin-right: 20px;
}