*{
    margin: 0px;
    padding: 0px;
}

.logo{
    width: 100px;
}

.navigation{
    display: flex;justify-content: space-around;
    padding: 20px;
    background-color: rgb(78, 74, 74);
    color: white;
    align-items: center;
}

.Home{
    display: flex;
    list-style: none;
    font-size: 18px;
}

.Home-menu{
    margin-right: 20px;
}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 100vh;
    color: white;
}

.banner-tittle{
    font-size: 54px;
    font-weight: bold;
}

.banner-description{
    font-size: 20px;
    margin: 10px 0;
}

.banner-image{
    width: 400px;
}

.prim-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: orangered;
    font-weight: bold;
    color: white;
    font-size: 18px;
}